#! Rust Build Output
/target
dist/

#! GDB-related files
.gdb_*

#! conventional commits config
git-conventional-commits.yaml

.env

# Steamworks common folder
steamworks/*
# Allow the redistributable, though
!steamworks/redistributable_bin
#! renderdoc
captures/

rustc-ice*