#! Rust Build Output
/target
/marshal/target
/dist

#! GDB-related files
.gdb_*

#! Ruby Output Files
/marshal_ruby
/marshal_luminol

#! conventional commits config
git-conventional-commits.yaml

.env

# Steamworks common folder
steamworks/*
# Allow the redistributable, though
!steamworks/redistributable_bin
#! renderdoc
captures/

rustc-ice*