[
    CommandDescription(
        code: 0,
        name: "New Command",
        description: "",
        kind: Single,
        parameters: [
            Single(
                index: None,
                description: "",
                name: "",
                kind: Int,
            ),
            Selection(
                index: None,
                parameters: [
                    (0, Single(
                        index: None,
                        description: "",
                        name: "",
                        kind: Int,
                    )),
                    (0, Single(
                        index: None,
                        description: "",
                        name: "",
                        kind: Int,
                    )),
                ],
            ),
            Single(
                index: None,
                description: "",
                name: "",
                kind: Int,
            ),
            Single(
                index: None,
                description: "",
                name: "",
                kind: Int,
            ),
        ],
        hidden: false,
    ),
]