Visuals(
    dark_mode: true,
    override_text_color: None,
    widgets: Widgets(
        noninteractive: WidgetVisuals(
            bg_fill: Color32((0, 67, 136, 255)),
            weak_bg_fill: Color32((0, 56, 115, 255)),
            bg_stroke: Stroke(
                width: 1.0,
                color: Color32((0, 122, 230, 255)),
            ),
            rounding: Rounding(
                nw: 5.0,
                ne: 5.0,
                sw: 5.0,
                se: 5.0,
            ),
            fg_stroke: Stroke(
                width: 1.0,
                color: Color32((255, 255, 255, 255)),
            ),
            expansion: 0.0,
        ),
        inactive: WidgetVisuals(
            bg_fill: Color32((0, 42, 93, 255)),
            weak_bg_fill: Color32((0, 71, 119, 255)),
            bg_stroke: Stroke(
                width: 0.0,
                color: Color32((0, 0, 0, 0)),
            ),
            rounding: Rounding(
                nw: 2.0,
                ne: 2.0,
                sw: 2.0,
                se: 2.0,
            ),
            fg_stroke: Stroke(
                width: 1.0,
                color: Color32((255, 255, 255, 255)),
            ),
            expansion: 0.0,
        ),
        hovered: WidgetVisuals(
            bg_fill: Color32((0, 48, 162, 255)),
            weak_bg_fill: Color32((0, 40, 124, 255)),
            bg_stroke: Stroke(
                width: 1.0,
                color: Color32((0, 118, 206, 255)),
            ),
            rounding: Rounding(
                nw: 3.0,
                ne: 3.0,
                sw: 3.0,
                se: 3.0,
            ),
            fg_stroke: Stroke(
                width: 1.5,
                color: Color32((240, 240, 240, 255)),
            ),
            expansion: 1.0,
        ),
        active: WidgetVisuals(
            bg_fill: Color32((0, 137, 255, 255)),
            weak_bg_fill: Color32((0, 102, 193, 255)),
            bg_stroke: Stroke(
                width: 1.0,
                color: Color32((255, 255, 255, 255)),
            ),
            rounding: Rounding(
                nw: 2.0,
                ne: 2.0,
                sw: 2.0,
                se: 2.0,
            ),
            fg_stroke: Stroke(
                width: 2.0,
                color: Color32((255, 255, 255, 255)),
            ),
            expansion: 1.0,
        ),
        open: WidgetVisuals(
            bg_fill: Color32((0, 75, 152, 255)),
            weak_bg_fill: Color32((0, 53, 114, 255)),
            bg_stroke: Stroke(
                width: 1.0,
                color: Color32((0, 111, 193, 255)),
            ),
            rounding: Rounding(
                nw: 2.0,
                ne: 2.0,
                sw: 2.0,
                se: 2.0,
            ),
            fg_stroke: Stroke(
                width: 1.0,
                color: Color32((255, 255, 255, 255)),
            ),
            expansion: 0.0,
        ),
    ),
    selection: Selection(
        bg_fill: Color32((0, 54, 128, 255)),
        stroke: Stroke(
            width: 1.0,
            color: Color32((192, 222, 255, 255)),
        ),
    ),
    hyperlink_color: Color32((90, 170, 255, 255)),
    faint_bg_color: Color32((5, 5, 5, 0)),
    extreme_bg_color: Color32((0, 9, 20, 255)),
    code_bg_color: Color32((0, 0, 0, 255)),
    warn_fg_color: Color32((255, 143, 0, 255)),
    error_fg_color: Color32((255, 0, 0, 255)),
    window_rounding: Rounding(
        nw: 6.0,
        ne: 6.0,
        sw: 6.0,
        se: 6.0,
    ),
    window_shadow: Shadow(
        offset: Vec2(
            x: 10.0,
            y: 20.0,
        ),
        blur: 15.0,
        spread: 0.0,
        color: Color32((0, 0, 0, 96)),
    ),
    window_fill: Color32((0, 16, 30, 255)),
    window_stroke: Stroke(
        width: 1.0,
        color: Color32((0, 164, 255, 255)),
    ),
    window_highlight_topmost: true,
    menu_rounding: Rounding(
        nw: 6.0,
        ne: 6.0,
        sw: 6.0,
        se: 6.0,
    ),
    panel_fill: Color32((0, 23, 42, 255)),
    popup_shadow: Shadow(
        offset: Vec2(
            x: 6.0,
            y: 10.0,
        ),
        blur: 8.0,
        spread: 0.0,
        color: Color32((0, 0, 0, 96)),
    ),
    resize_corner_size: 12.0,
    text_cursor: Stroke(
        width: 2.0,
        color: Color32((192, 222, 255, 255)),
    ),
    text_cursor_preview: false,
    clip_rect_margin: 3.0,
    button_frame: true,
    collapsing_header_frame: false,
    indent_has_left_vline: true,
    striped: false,
    slider_trailing_fill: false,
    handle_shape: Circle,
    interact_cursor: None,
    image_loading_spinners: true,
    numeric_color_space: GammaByte,
)
