[package]
name = "luminol-ui"

version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
readme.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
luminol-audio.workspace = true
luminol-core.workspace = true
luminol-config.workspace = true
luminol-data.workspace = true
luminol-graphics.workspace = true
luminol-filesystem.workspace = true
luminol-components.workspace = true
luminol-modals.workspace = true
luminol-macros.workspace = true

egui.workspace = true
egui-modal.workspace = true

camino.workspace = true

strum.workspace = true

serde.workspace = true
serde_json.workspace = true
serde_yml.workspace = true
ron.workspace = true

target-triple = "0.1.2"

strip-ansi-escapes = "0.2.0"

poll-promise.workspace = true
async-std.workspace = true
futures-lite.workspace = true
futures-util = "0.3.30"
reqwest = { version = "0.11.23", features = ["json"] }

zip = { version = "0.6.6", default-features = false, features = ["deflate"] }

parking_lot.workspace = true
once_cell.workspace = true
qp-trie.workspace = true

itertools.workspace = true

color-eyre.workspace = true

wgpu.workspace = true

murmur3.workspace = true
indexmap = "2.2.6"
alox-48.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
luminol-term = { version = "0.4.0", path = "../term/" }
