[package]
name = "luminol-term"

version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
readme.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
egui.workspace = true

serde.workspace = true

luminol-core.workspace = true
luminol-config.workspace = true
luminol-macros.workspace = true
luminol-audio.workspace = true
color-eyre.workspace = true

strum.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
crossbeam-channel = "0.5"

alacritty_terminal = "0.22.0"
