[package]
name = "luminol-web"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[lints]
workspace = true

[dependencies]
# * Adapters for web APIs * #
indexed_db_futures = "0.4.1" # Future bindings for IndexedDB
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
js-sys.workspace = true
web-sys = { workspace = true, features = [
    "DedicatedWorkerGlobalScope",
    "FileSystemDirectoryHandle",
    "FileSystemHandle",
    "Performance",
] }
