on: 
  push:
    paths-ignore:
      - '.github/**'
      - '.vscode/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '.vscode/**'
      - '**.md'
  workflow_dispatch:

name: CI

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install libraries
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libatk1.0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libasound2-dev clang mold -y
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-05-19
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - run: cargo check --all-features 

  check-wasm32:
    name: Check wasm32
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install libraries
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libatk1.0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libasound2-dev clang mold -y
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-05-19
          targets: wasm32-unknown-unknown
          components: rust-src
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - run: cargo check  --target wasm32-unknown-unknown -Z build-std=std,panic_abort

  # we don't have (and realistically can't have) a test suite yet
  # test:
  #   name: Test Suite
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         submodules: true
  #     - run: |
  #         sudo apt update
  #         sudo apt install libgtk-3-dev libatk1.0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libasound2-dev clang mold -y
  #     - uses: dtolnay/rust-toolchain@nightly
  #       with:
  #         toolchain: nightly-2024-05-19
  #     - name: Rust Cache
  #       uses: Swatinem/rust-cache@v2
  #     - run: cargo test --workspace 

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install libraries
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libatk1.0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libasound2-dev clang mold -y
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-05-19
          components: rustfmt
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install libraries
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libatk1.0-dev libxcb-render0-dev libxcb-shape0-dev libxcb-xfixes0-dev libspeechd-dev libxkbcommon-dev libssl-dev libasound2-dev clang mold -y
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly-2024-05-19
          components: clippy
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - run: cargo clippy  -- # -D warnings
